/* -------------------------------------- *\
    $CSS RULES ORDERING

    CSS rule {
      box (display, position, sizing)
      borders
      background
      text
      other
    }
\* -------------------------------------- */

/* ______________________________________________________________________ *\
    $GLOBAL
\* ______________________________________________________________________ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherish&display=swap");

:root {
  /* FONTS */
  --font-family-heading: "Abril Fatface", serif;
  --font-family-body: "Montserrat", sans-serif;
  --font-family-signature: "Cherish", cursive;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --letter-spacing: 0.05em;
  --line-height: 1.5;

  /* COLORS */
  --color-primary: #353535;
  --color-secondary: #f5f5f5;
  --color-accent: #3c6e71;
  --color-shadow: #d9d9d9;

  /* BORDERS */
  --border-radius: 8px;
  --border-width: 2px;

  /* SPACING */
  --gap: 16px;
  --margin: 32px;
  --padding: 8px;
}

/* ______________________________________________________________________ *\
    $RESET
\* ______________________________________________________________________ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  /* properly apply padding & margin */
  display: inline-block;
  text-decoration: none;
}

img {
  /* remove undesired margin below ths image placed inside a parent container */
  display: block;
  /* the image will scale down if it has to, scale up to fit the container width 
  but never scale up to be larger than its original size */
  max-width: 100%;
}

/* ______________________________________________________________________ *\
    $BASE
\* ______________________________________________________________________ */
html {
  /* smooth on-screen transition when clicking on a link to reach an in-page section */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  color: var(--color-primary);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height);
}

h1,
h2 {
  font-family: var(--font-family-heading);
  letter-spacing: var(--line-height);
}

h1 {
  color: var(--color-secondary);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
}

h2,
h3 {
  font-size: 1.5rem;
}

h3 {
  font-weight: var(--font-weight-medium);
}

p.small {
  font-size: 0.875rem;
}

p.signature {
  font-family: var(--font-family-signature);
  font-size: 2rem;
}

/* ______________________________________________________________________ *\
    $MODULE
\* ______________________________________________________________________ */
/* ---------- UTILITIES ---------- */
.btn {
  padding: var(--padding) calc(2 * var(--padding));
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}

/* ---------- HEADER ---------- */
.main-nav {
}

.mobile-menu {
}

/* ---------- HERO ---------- */
.hero {
}

/* ---------- ABOUT ---------- */
.about {
}

/* ---------- PORTFOLIO ---------- */
.porfolio {
  height: 100vh;
  width: 100vw;
}

.mosaique {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: clamp(calc(var(--gap) / 4), 0.1vw, calc(var(--gap) * 2));
}

@media screen and (min-width: 992px) {
  .mosaique {
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr 1.15fr;
    grid-template-rows: 25% 8% 17% 17% 8% 25%;
  }
  .img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .img2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  .img3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .img4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .img5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .img6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .img7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .img8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .img9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
  }
}
.mosaique img {
  filter: grayscale(0);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid transparent;
}
@media screen and (min-width: 992px) {
  .mosaique img {
    border-radius: 50px;
  }
  .mosaique img:hover {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    cursor: url(assets/icon/cursorPhoto.png), auto;
    border: 5px solid #d9d9d9;
    /*box-shadow: 10px 5px 5px #d9d9d9;*/
    /*transform: scale(1.1);*/
  }
}
/* ---------- SERVICES ---------- */
.services {
}

/* ---------- CONTACT ---------- */
.contact {
}

/* ---------- FOOTER ---------- */

/* ______________________________________________________________________ *\
    $STATE
    Reserved for JavaScript classes
\* ______________________________________________________________________ */

/* ______________________________________________________________________ *\
    $THEME
\* ______________________________________________________________________ */
.theme-dark {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* ______________________________________________________________________ *\
    $MEDIA QUERIES (mobile first)
\* ______________________________________________________________________ */
@media screen and (min-width: 992px) {
}
