/* -------------------------------------- *\
    $CSS RULES ORDERING

    CSS rule {
      box (display, position, sizing)
      borders
      background
      text
      other
    }
\* -------------------------------------- */

/* ______________________________________________________________________ *\
    $GLOBAL
\* ______________________________________________________________________ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherish&display=swap");

:root {
  /* FONTS */
  --font-family-heading: "Abril Fatface", serif;
  --font-family-body: "Montserrat", sans-serif;
  --font-family-signature: "Cherish", cursive;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --letter-spacing: 0.05em;
  --line-height: 1.5;

  /* COLORS */
  --color-primary: #353535;
  --color-secondary: #f5f5f5;
  --color-accent: #3c6e71;
  --color-shadow: #d9d9d9;

  /* BORDERS */
  --border-radius: 8px;
  --border-width: 2px;

  /* SPACING */
  --gap: 16px;
  --margin: 32px;
  --padding: 8px;
}

/* ______________________________________________________________________ *\
    $RESET
\* ______________________________________________________________________ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  /* properly apply padding & margin */
  display: inline-block;
  text-decoration: none;
}

img {
  /* remove undesired margin below ths image placed inside a parent container */
  display: block;
  /* the image will scale down if it has to, scale up to fit the container width 
  but never scale up to be larger than its original size */
  max-width: 100%;
}

/* ______________________________________________________________________ *\
    $BASE
\* ______________________________________________________________________ */
html {
  /* smooth on-screen transition when clicking on a link to reach an in-page section */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  color: var(--color-primary);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height);
}

h1,
h2 {
  font-family: var(--font-family-heading);
  letter-spacing: var(--line-height);
}

h1 {
  color: var(--color-secondary);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
}

h2,
h3 {
  font-size: 1.5rem;
}

h3 {
  font-weight: var(--font-weight-medium);
}

p.small {
  font-size: 0.875rem;
}

p.signature {
  font-family: var(--font-family-signature);
  font-size: 2rem;
}

/* ______________________________________________________________________ *\
    $MODULE
\* ______________________________________________________________________ */
/* ---------- UTILITIES ---------- */
.btn {
  padding: var(--padding) calc(2 * var(--padding));
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}

/* ---------- HEADER ---------- */
.main-nav {
}

.mobile-menu {
}

/* ---------- HERO ---------- */
.hero {
}

/* ---------- ABOUT ---------- */
.about {
}

/* ---------- PORTFOLIO ---------- */
.porfolio {
}

/* ---------- SERVICES ---------- */

.services {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 50%);
}

.firstService, .secondService {
  display: flex;
  margin: 1rem 2rem;
}

/* --margin : 32px */

.secondService {
  flex-direction: row-reverse;
}

.firstService img {
  width: auto;
  object-fit: contain;
}

.firstService > * {
  flex:1 1 0;
}

.secondService img {
  width: auto;
  object-fit: contain;
}

.secondService > * {
  flex:1 1 0;
}

.firstServiceText, .secondServiceText {
  padding: 0 calc(2 * var(--padding));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstServiceText {
  text-align: right;
}

.services p {
  padding-bottom: var(--padding);
}

.services h3 {
  padding-bottom: calc(2 * var(--padding));
}

/* ---------- CONTACT ---------- */
.contact {
}

/* ---------- FOOTER ---------- */

/* ______________________________________________________________________ *\
    $STATE
    Reserved for JavaScript classes
\* ______________________________________________________________________ */

/* ______________________________________________________________________ *\
    $THEME
\* ______________________________________________________________________ */
.theme-dark {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* ______________________________________________________________________ *\
    $MEDIA QUERIES (mobile first)
\* ______________________________________________________________________ */
@media screen and (min-width: 992px) {
  
  .firstService, .secondService {
    margin: 1rem 13rem;
  }
  
  /* --margin : 32px */
  
  .firstServiceText, .secondServiceText {
    padding: 0 calc(2 * var(--padding));
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .firstServiceText {
    text-align: left;
  }

  .secondServiceText {
    text-align : right;
  }
  
  .services p {
    padding-bottom: var(--padding);
    font-size: 1.25rem;
  }
  /* 20px -> 1.25rem*/
  
  .services h3 {
    padding-bottom: calc(2 * var(--padding));
    font-size: 3rem;
  } 
  /* 48px -> 3rem*/
}
